<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
  <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
		<span class="mr-2">
      <%= image_tag "smartadmin/demo/avatars/#{Rails.configuration.avatar}", class: 'rounded-circle profile-image', alt: Rails.configuration.user %>
		</span>
    <div class="info-card-text">
      <div class="fs-lg text-truncate text-truncate-lg"><%= Rails.configuration.user %></div>
      <span class="text-truncate text-truncate-md opacity-80"><%= Rails.configuration.email %></span>
    </div>
  </div>
</div>
<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
  <span data-i18n="drpdwn.settings">Settings</span>
</a>
<div class="dropdown-divider m-0"></div>

<div class="dropdown-divider m-0"></div>
<%= link_to login_path, class: 'dropdown-item fw-500 pt-3 pb-3' do %>
  <span data-i18n="drpdwn.page-logout">Logout</span>
<% end %>
