<div class="page-logo d-flex justify-content-center align-items-center">
  <a href="#" class="page-logo-link press-scale-down d-flex align-items-center justify-content-center position-relative">
    <span class="page-logo-text text-center mr-1"><%= Rails.configuration.app_flavor %></span>
  </a>
</div>
