<div class="info-card">
  <%= image_tag "smartadmin/demo/avatars/#{Rails.configuration.avatar}", class: 'profile-image rounded-circle', alt: Rails.configuration.user %>
  <div class="info-card-text">
    <%= link_to '#', class: 'd-flex align-items-center text-white' do %>
			<span class="text-truncate text-truncate-sm d-inline-block">
				<%= Rails.configuration.user %>
			</span>
    <% end %>
    <span class="d-inline-block text-truncate text-truncate-sm">blank</span>
  </div>
  <%= image_tag 'smartadmin/card-backgrounds/cover-2-lg.png', class: 'cover', alt: 'cover' %>
</div>